*{
    width: 50w;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cont{
    margin: 0 auto;
    width: 30vw;
}
.head{
    background-color: silver;
    margin-top: 5vw;
    display: flex;
    padding: 8px;
}
.head h1{
    margin: 0 auto;
    font-weight: 60;
    font-size: medium;
    font-family: sans-serif;
    background-color: silver;
    color: lightslategray;
}
.profile{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
    margin-bottom: 20px;
    
}
.container {
    background-color: rgb(199, 214, 255) ;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;

}
.name{
    margin-top: 20px;
    color: rgb(30, 36, 94);
}
.context{
    margin-bottom: 20px;
    text-align: center;
}
.cm{
    background-color: rgb(14, 76, 248);
    padding: 8px;
    border-radius: 20px;
    margin-bottom: 20px;
    color: white;
    width: 20%;
    text-align: center;
}
.footer p {
    padding: 5px;
    background-color: #4a5c6b;
    color: white;
    justify-content: center;
    text-align: center;
    font-size: small;


}